.button {
  font-family: $oswald;
  font-weight: normal;
  text-transform: uppercase;
  color: $white;
  background-color: $green;
  border: none;
}

.button-grey {
  font-family: $oswald;
  font-weight: normal;
  text-transform: uppercase;
  color: $grey-text;
  background-color: $grey-blocks-background;
  border: none;
}
