.button {
  font-family: $oswald;
  font-weight: normal;
  text-transform: uppercase;
  color: $white;
  background-color: $green;
  border: none;

  &:hover,
  &:focus {
    background-color: $green-active;
  }

  &:active {
    background-color: $green-active;
    color: $white-opacity;
  }
}

.button-grey {
  font-family: $oswald;
  font-weight: normal;
  text-transform: uppercase;
  color: $grey-text;
  background-color: $grey-blocks-background;
  border: none;

  &:hover,
  &:focus {
    background-color: $grey-stripes;
  }

  &:active {
    background-color: $grey-stripes;
    color: $grey-text-opacity;
  }
}
