.cat-info {
  border: none;
}

.cat-info__item {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  margin-bottom: 13px;

  input {
    width: 100%;
    height: 46px;
    padding: 0 15px;
    border: 1px solid $grey-input;
  }

  &:hover {
    input {
      border: 1px solid $grey-input-border;
    }
  }

  &:focus-within {
    input {
      border: 2px solid $grey-text;
    }
  }

  .cat-info__invalid:invalid {
    border: 2px solid $error;
  }
}

.cat-info__name {
  label {
    margin-right: 14px;
  }
}

.cat-info__weight {
  label {
    margin-right: 17px;
  }
}

.cat-info__age {
  label {
    margin-right: 16px;
  }
}

@media (min-width: $tablet) {
  .cat-info {
    margin-bottom: 24px;
  }

  .cat-info__item {
    margin-left: 42px;
    margin-bottom: 19px;
    padding-right: 36px;

    input {
      height: 52px;
      margin-top: 1px;
      padding: 0 19px;
    }
  }

  .cat-info__name {
    label {
      margin-right: 15px;
    }
  }

  .cat-info__weight {
    label {
      margin-right: 20px;
    }
  }

  .cat-info__age {
    label {
      margin-right: 17px;
    }
  }
}

@media (min-width: $desktop) {
  .cat-info {
    width: 50%;
  }

  .cat-info__item {
    margin-left: 3px;
    padding-right: 38px;
  }

  .cat-info__weight {
    label {
      margin-right: 18px;
    }
  }

  .cat-info__age {
    label {
      margin-right: 14px;
    }
  }
}
