.cat-info {
  border: none;
}

.cat-info__item {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  margin-bottom: 13px;

  input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid $grey-input;
  }

  &:hover input {
    border: 1px solid $grey-input-border;
  }

  &:focus-within input {
    border: 2px solid $grey-text;
  }

  input:invalid {
    border: 2px solid $error;
  }
}

.cat-info__name {
  label {
    margin-right: 14px;
  }
}

.cat-info__weight {
  label {
    margin-right: 17px;
  }
}

.cat-info__age {
  label {
    margin-right: 10px;
  }
}

@media (min-width: $tablet) {
  .cat-info {
    margin-bottom: 24px;
  }

  .cat-info__item {
    margin-left: 42px;
    margin-bottom: 18px;
    padding-right: 36px;

    input {
      margin-top: 1px;
      padding: 14px 19px 13px;
    }
  }

  .cat-info__name {
    label {
      margin-right: 15px;
    }
  }

  .cat-info__weight {
    label {
      margin-right: 18px;
    }
  }

  .cat-info__age {
    label {
      margin-right: 8px;
    }
  }
}

@media (min-width: $desktop) {
  .cat-info {
    width: 50%;
  }

  .cat-info__item {
    margin-left: 3px;
    padding-right: 38px;
  }

  .cat-info__age {
    label {
      margin-right: 7px;
    }
  }
}
