.main-nav {
  position: relative;
}

.main-nav__burger {
  position: absolute;
  display: block;
  top: -31px;
  right: 19px;
  width: 24px;
  height: 16px;
  background-color: $white;
  border: none;
  cursor: pointer;
}

.main-nav--nojs .main-nav__burger {
  display: none;
}

.main-nav--closed .main-nav__burger {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: $black;
    box-shadow: 0 8px 0 0 $black, 0 16px 0 0 $black;
  }
}

.main-nav--opened .main-nav__burger {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    width: 25px;
    height: 1px;
    background-color: $black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__list {
  margin: 12px 0;
  padding: 0;
  font-family: $oswald;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: $white;
  list-style: none;
  z-index: 1;
}

.main-nav__list--closed {
  display: none;

  .main-nav--nojs & {
    display: block;
  }
}

.main-nav__item {
  padding: 22px 0 23px;
  text-align: center;
  border-top: 1px solid $grey-menu-border;

  &:last-child {
    border-bottom: 1px solid $grey-menu-border;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__link {
  color: $black;
}

@media (min-width: $tablet) {
  .main-nav__burger {
    display: none;
  }

  .main-nav__list {
    position: static;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 440px;
    padding-top: 2px;
    margin: 0;
    margin-top: 17px;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
  }

  .main-nav__item,
  .main-nav__item:last-child {
    border: none;
  }


  .main-nav__item--active {
    .main-nav__link {
      padding-bottom: 8px;
      border-bottom: 2px solid $green;
    }
  }
}

@media (min-width: $desktop) {
  .main-nav__list {
    width: 478px;
    margin-top: 46px;
    font-size: 20px;
    line-height: 30px;
  }

  .main-nav__item {
    z-index: 1;
  }

  .main-nav__link {
    color: $white;
  }

  .main-nav__link--inner {
    color: $black;
  }

  .main-nav__item--active {
    .main-nav__link {
      padding-bottom: 5px;
      border-bottom: 2px solid $white;
    }

    .main-nav__link--inner {
      border-bottom: 2px solid $green;
    }
  }
}
