.page-header {
  display: flex;
  flex-direction: column;
  min-height: 66px;

  @media (max-width: 767px) {
    padding: 0;
  }

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    min-height: 100px;
  }

  @media (min-width: $desktop) {
    min-height: 140px;
  }
}

.page-header__logo {
  display: flex;
  flex-wrap: wrap;

  &-img {
    margin-right: 56px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (max-width: 767px) {
    padding: 11px 20px 0;
  }

  @media (min-width: $tablet) {
    padding-top: 23px;

    &-img {
      width: 174px;
      height: 52px;
    }

    &-text {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    &-img {
      margin-top: 30px;
      width: 202px;
      height: 59px;
    }
  }
}
