.products {
  border-top: 1px solid $grey-social-border;
}

.products__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: $oswald;
  font-size: 36px;
  line-height: 36px;
}

.products__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.products__item {
  border-top: 1px solid $grey-stripes;
}
