.program-selection {
  border-top: 1px solid $grey-social-border;
}

.program-selection__title {
  margin: 0;
  font-family: $oswald;
  font-size: 36px;
  line-height: 36px;
}

.program-selection__subtitle {
  font-family: $oswald;
  text-transform: uppercase;
}

.program-selection__item {
  font-family: $oswald;
  font-size: 16px;
  text-transform: uppercase;
  color: $grey-text;

  input::placeholder,
  textarea::placeholder {
    font-family: $oswald;
    font-size: 16px;
    text-transform: uppercase;
    color: $grey-text;
  }

  legend {
    font-family: $oswald;
    font-size: 24px;
    line-height: 26px;
    color: $black;
  }
}

.program-selection__legend {
  line-height: 16px;
}
