.promo {
  margin-bottom: 22px;
}

.promo__container {
  padding-top: 27px;
  padding-bottom: 164px;
  background-color: $green;
}

.promo__title {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $white;
}

.promo__subtitle {
  font-family: "Oswald", "Aria;", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $white;
  text-align: center;
}

.promo__link {
  padding: 10px;
}
