$white: #ffffff;
$green: #68b738;
$green-active: #5eaa2f;
$grey-blocks-background: #f2f2f2;
$grey-section-background: #eaeaea;
$grey-stripes: #ebebeb;
$grey-border: #cdcdcd;
$grey-menu-border: #e6e6e6;
$grey-social: #666666;
$grey-social-border: #d9d9d9;
$grey-text: #444444;
$grey-title: #222222;
$black: #000000;
$error: #ff8282;
